.intro-message { 
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	color: #fff;
} 
body {
	background: url(landing-bg-lg2.jpg);
}

.signup-form {
	color: #fff;
	text-align: center;
}

.email {
	color: #000;
}

.bg-caption {
	font-family: Open Sans;
	font-size: 50%;
	text-align: left;
	color: #fff;

}

.nav-pills {
	background: #fff;
}