.intro-message { 
	text-align: center;
	font-family: Open Sans;
	padding-top: 5%;
	padding-bottom: 1%;
	color: #fff;
} 
body {
	background: url(landing-bg-lg2.jpg) no-repeat center center;
	background-size: cover;
}

.signup-form {
	color: #fff;
	text-align: center;
	font-family: Open Sans;
	font-size: 75%;
}

.email {
	color: #000;
}

#bg-caption1 {
	font-family: Open Sans;
	font-style: italic;
	font-size: 12px;
	text-align: left;
	color: #fff;
	padding-top: 3%;
	padding-right: 25%;
}

#bg-caption2 {
	font-family: Open Sans;
	font-size: 14px;
	text-align: right;
	color: #fff;
	padding-top: 3%;
}