.intro-message { 
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	color: #1c9800;
} 
body {
	background: url(small_steps.png);
}

.signup-form {
	color: #fff;
	text-align: center;
}

.email {
	color: #000;
}

.features-list {
	text-align: center;
	color: #000;
	padding-top: 10%;
}

